<div class="row">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a>Twój koszyk</a></li>
        <li role="presentation"><a>Dane dostawy i płatności</a></li>
        <li role="presentation"><a>Podsumowanie</a></li>
    </ul>
</div>
<div ng-if="isCartEmpty()">
    <div class="row">
        <div class="empty-cart-body well">
            <span class="empty-cart">Twój koszyk jest pusty.</span>
        </div>
    </div>
</div>
<div ng-if="!isCartEmpty()">
    <div class="row cart-list-header">
        <div class="col-sm-6">Produkt</div>
        <div class="col-sm-2 hidden-xs">Cena</div>
        <div class="col-sm-2 hidden-xs">Ilość</div>
        <div class="col-sm-2 hidden-xs">Wartość</div>
    </div>
    <div class="row cart-list-item-row" ng-repeat="item in order.orderItems">
        <div class="col-sm-1">
            <div class="cart-item-image" ng-if="item.productImage">
                <img ng-src="{{item.productImage | filePath}}">
            </div>
        </div>
        <div class="col-sm-5">
            <span class="cart-item-product-name">
                <a ui-sref="products.view-product({productId: item.productId})">
                    {{item.productName}}
                </a>
            </span>
            <div class="cart-item-remove">
                <button ng-click="deleteOrderItem(item.id)" class="btn btn-danger btn-sm">Usuń</button>
            </div>
        </div>
        <div class="col-sm-2"><strong>{{item.price | currency: 'PLN '}}</strong></div>
        <div class="col-sm-2">{{item.amount}}</div>
        <div class="col-sm-2"><strong>{{item.price * item.amount | currency: 'PLN '}}</strong></div>
    </div>
    <div class="row cart-list-summary">
        <div class="col-sm-10">
            <span class="cart-summary-text">Razem do zapłaty</span>
        </div>
        <div class="col-sm-2">
            <div class="cart-summary-total">{{order.totalValueWithoutDelivery | currency: 'PLN '}}</div>
            <div>
                <span class="cart-summary-total-sm">+ koszty dostawy</span>
            </div>
        </div>
    </div>
</div>
<div class="row cart-buttons-row">
    <div class="pull-left">
        <button class="btn btn-success btn-lg" ui-sref="home">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span>Wróć do zakupów</span>
        </button>
    </div>
    <div class="pull-right" ng-if="!isCartEmpty()">
        <button class="btn btn-success btn-lg" ui-sref="cart.delivery-payment">
            <span>Dalej</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
