<div class="row return-link">
    <div class="col-xs-12">
        <a class="blue-link cursor-pointer" ui-sref="^.products-list">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <strong>
                <span>Powrót do listy produktów</span>
            </strong>
        </a>
    </div>
</div>
<hr class="divider">
<form ng-submit="addProduct(productForm)" name="productForm" class="form-horizontal">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Nazwa
            <span class="required-star">*</span>
        </label>
        <div class="col-sm-8">
            <input ng-model="productData.name" type="text" class="form-control" id="inputName" maxlength="50"
                   placeholder="Nazwa produktu" required>
        </div>
    </div>
    <div class="form-group">
        <label for="selectProductState" class="col-sm-2 control-label">Stan
            <span class="required-star">*</span>
        </label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="productData.productState" id="selectProductState" required>
                <option ng-repeat="option in stateIdToName" value="{{option.id}}">{{option.title}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputCount" class="col-sm-2 control-label">Ilość
            <span class="required-star">*</span>
        </label>
        <div class="col-sm-3">
            <input type="number" ng-model="productData.availableCount" min="0" data-number-to-fixed="0"
                   data-number-stepfactor="100" class="form-control" id="inputCount"/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPrice" class="col-sm-2 control-label">Cena
            <span class="required-star">*</span>
        </label>
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">zł</span>
                <input type="number" ng-model="productData.price" min="0" step="0.01" data-number-to-fixed="2"
                       data-number-stepfactor="100" class="form-control currency" id="inputPrice"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Opis
            <span class="required-star">*</span>
        </label>
        <div class="col-sm-8">
            <textarea ng-model="productData.description" class="form-control" rows="4" id="inputDescription"
                      maxlength="100" placeholder="Opis produktu..." required></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPhotos" class="col-sm-2 control-label">Zdjęcia</label>
        <div class="col-sm-8">
            <div id="inputPhotos" class="images-upload-box" ngf-select="addImages($files)" ngf-drop="addImages($files)" ngf-multiple="true"
                 ngf-drag-over-class="'dragover'" ngf-pattern="'image/*'">
				<span>
					<span class="glyphicon glyphicon-cloud-upload"></span> Przeciągnij i upuść plik lub kliknij, aby dodać z dysku
				</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <div ng-repeat="image in productImages">
                <div class="col-xs-2 thumbnail-box">
                    <div ng-if="!image.dataUrl">
                        <div class="image-placeholder-background"></div>
                    </div>
                    <div ng-if="image.dataUrl">
                        <div class="cropped-thumbnail">
                            <img ng-src="{{image.dataUrl}}" class="thumbnail-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="submitButtonDisabled">
                Dodaj
            </button>
        </div>
    </div>
</form>
