<div class="table-header">
    <span class="table-header-title">Produkty</span>
    <div class="pull-right-button" ng-if="home.isSignedIn()">
        <button ui-sref="^.add-product" class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon-plus"></span> DODAJ PRODUKT
        </button>
    </div>
</div>
<table ng-table="productTableParams" show-filter="true" class="table table-bordered table-striped">
    <tr ng-repeat="product in $data track by product.id" ng-click="viewProduct(product)" class="clickable-row">
        <td title="'Nazwa'" filter="{name: 'text'}" sortable="'name'" class="table-cell">{{product.name}}</td>
        <td title="'Cena'" filter="{price: 'number'}" sortable="'price'" class="table-cell">{{product.price | currency:'PLN '}}</td>
        <td title="'Stan'" filter="{productState: 'select'}" , filter-data="getProductStates()" class="table-cell"
            sortable="'productState'">{{getProductStateName(product.productState)}}
        </td>
        <td title="'Dostępna ilość'" filter="{availableCount: 'number'}" sortable="'availableCount'" class="table-cell">
            {{product.availableCount}}
        </td>
        <td ng-if="home.isSignedIn()">
            <button ui-sref="^.edit-product({productId: product.id})" class="btn btn-md">EDYTUJ</button>
            <button ng-click="deleteProduct(product, $event)" class="btn btn-danger btn-md">USUŃ</button>
        </td>
    </tr>
</table>
