<div>
    <div id="profile-overview" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div class="brief-info">
                    <div class="col-md-2 col-sm-2 clear-padding">
                        <!--<img ng-src="{{currentUser.userData.avatarUrl}}" alt="cruise">-->
                        <!--<img ng-src="assets/img/piesel1.jpg" alt="cruise">-->
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <h3>{{currentUser.firstName}} {{currentUser.lastName}}</h3>
                        <h5><i class="fa fa-envelope-o"></i>{{currentUser.email}}</h5>
                        <h5><i class="fa fa-phone"></i>{{currentUser.phoneNumber}}</h5>
                        <h5><i class="fa fa-map-marker"></i>{{currentUser.address}}</h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="brief-info-footer">
                        <a ui-sref="profile.user"><i class="fa fa-edit"></i>Edycja</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4>Twoje ostatnie zamownienia</h4>
                    <div>
                        Wkrótce
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
